<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kravelteam.kravel_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".KravelApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.map.MapActivity"></activity>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="@string/naver_map_api_key" />

        <activity android:name=".ui.map.PlaceDetailActivity" />
        <activity android:name=".ui.mypage.ReportActivity" />
        <activity android:name=".ui.mypage.UpdatePwActivity" />
        <activity android:name=".ui.mypage.UpdateInfoActivity" />
        <activity android:name=".ui.search.SearchDetailActivity" />
        <activity android:name=".ui.signup.SetLanguageActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.signup.FinishSignUpActivity" />
        <activity android:name=".ui.signup.SignUpActivity" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>